.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
body{
	padding-bottom:50px;
}
/*header*/
header *{
	margin:0;
}
header{
	margin-bottom:48px;
}

/*footer*/
footer {
	z-index: 999;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 70px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
	
	h1{
	    font-size: 3.2rem;
	}
}